

.container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.containerCard{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.min-height{
    padding: 1%;
    background-color: aliceblue;
    min-height: 500px;
    border: 1px solid black;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}